<link href="/stylesheets/bar.css"  rel='stylesheet'/>
<link href="//at.alicdn.com/t/font_2179139_xq0f3dhxejm.css"  rel='stylesheet'/>
<div class="bar">  
  <a class='bar-a' href="/"><i class='iconfont icon-H' ></i></a>
  <a class='bar-a' href="/write">写文章</a>
  <a class='bar-a' href="/users/logout">退出</a>
  <span><%= username %></span>
</div>